#c {
    /* border: 3px solid yellow; */
    /* transform: scale(2, 2) translate(10px, 10px); */
    /* height: 100%; */
    width: 100%;
    resize: both;
    position: absolute;
    top: 0;
    left: 0;
}
